p{
    color:black;
    font-style: normal;
    font-size: 16px;
    
}
.title{
    display: flex;
    justify-content: center;
}


.page {

    size: 21cm 29.7cm;
    margin: 30mm 45mm 30mm 45mm;
    width: 210mm;   
    padding: 20mm;  
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}





























































































































































































































































































































































































































































































































































































































































    
    